@charset "UTF-8";

/*FONTES PASSION ONE E SRIRACHA*/

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

body{
    font-family: var(--fonte1);
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}

header > h1{
    font-family: var(--fonte2);
    font-size: 10vw;
   /* text-transform: uppercase;*/
    font-variant: small-caps;
    padding-top: 50px;
    
}
header > p{
    font-family: var(--fonte1);
    padding-bottom: 50px;
    
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
    
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-family: var(--fonte3);
}
section p{
    
    padding-left: 50px;
    font-size: 3.2vw;
    line-height: 1.5em;
}

section.imagem{
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.408);
}

section.imagem > p{
    display: inline-block;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.211);
}
section#img01{
    background-image: url('imagens/background001.jpg');
    
}

section#img02{
    background-image: url('imagens/background002.jpg');
    
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}